  <div class="container border bg-light mt-3">
    <h3>Project: <%= @project.name %></h3>
  </div>

<div class="container border bg-light mt-3">
  <div class="row">
    <div class="col-6">
      <h4>Task: <%= @task.name %></h4>
      <p class="well">Description: <%= @task.description %></p>
      <p class="well">Due date: <%= @task.due_date %></p>
      <p class="well">Estimated effort: <%= @task.estimated_effort %></p>
      <p class="well">Status: <%= @task.status %></p>
      <p class="well">Completion date: <%= @task.completion_date %></p>

    </div>
    <div class="col-6">
      <%= render 'active_text_form', task: @task %>
    </div>
  </div>
  <div class="row mx-auto">
    <div class="col-12 ">
      <%= link_to edit_project_task_path(@project, @task), class: 'pull-right btn btn-default' do %>
        <i class="fas fa-edit"></i> Edit this task
      <% end %>

      <%= link_to task_path(@task), class: 'pull-right btn btn-default', method: 'delete', data: { confirm: "Are you?" }  do %>
        <i class="fas fa-trash-alt"></i> Delete this task
      <% end %>

      <%= link_to project_path(@task.project), class: 'pull-right btn btn-default' do %>
        <i class="fa fa-history"></i> Back to project
      <% end %>
    </div>
  </div>
</div>

<div class="container border bg-light mt-3">
  <div class="row">
    <div class="col-6">
      <h4 id='top-of-list'>Workers assigned to this task (click to unassign)</h4>
      <div class="row">
        <% @task.users.order('name asc').each do |user| %>
          <div class="col-2">
              <% if user.avatar.attached? %>
                <button type="button", class="btn-avatar", data-toggle="tooltip" data-placement="top" title="<%= user.name %>">
                  <%= image_tag user.avatar, class: "avatar-large dropdown-toggle", id: "navbarDropdown",
                  data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                </button>
              <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-6">
      <h4 class="ui header">Workers not assigned to this task (click to assign) </h4>
      <span>
        <div class="ui inline dropdown">
          <ul>
            <% @users_available.order('name asc').each do |user| %>
              <li><%= link_to user.name, task_assignments_path(@task, user_id: user.id), method: :post %>
                <% if user.avatar.attached? %>
                  <%= image_tag user.avatar, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                <% end %>
               </li>
            <% end %>
          </ul>
        </div>
      </span>
    </div>
  </div>
  <div class="container">
    <%= render 'active_text_form', task: @task %>
  </div>
</div>
