  <hr>
  <div class="container">
    <div class="page-header">
      <div class="row title-add-new">
        <h1 class="col-auto"> <%= @project.name.truncate(15) %> > <%= @task.name%> </h1>
        <div class="col-auto icon-col">
          <%= link_to edit_project_task_path(@project, @task) do %>
            <i class="fas fa-pen"></i>
          <% end %>
        </div>
      </div>
    <div class="row row upper-margin justify-content-between align-items-center">
      <div class="col-6">
        <div class="cards-container">
        <p class="indications page-subheader"><%= @task.description %> </p>
        </div>
      </div>
      <div class="col-3">
        <%= link_to edit_project_task_path(@project, @task), class: 'btn btn-ghost-pshow' do %>
            <i class="fas fa-edit"></i> Edit this task
          <% end %>
      </div>
      <div class="col-3">
        <%= link_to project_path(@task.project), class: 'btn btn-ghost-pshow' do %>
            <i class="fa fa-history"></i> Back to project
          <% end %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-3">
        <p class="button-39">Due date: <%= @task.due_date %></p>
      </div>
      <div class="col-3">
      <p class="button-39">Estimated effort: <%= @task.estimated_effort %>h</p>
      </div>
      <div class="col-3">
        <p class="button-39">Status: <%= @task.status %></p>

      </div>
      <div class="col-3">
        <p class="button-39">Completion date: <%= @task.completion_date %></p>
      </div>
    </div>

    <div class="cards-container mt-3">
      <h4>Your Project Team</h4>
      <div class="row">
        <div class="col-6">
          <div class="insider-container">
            <h5 id='top-of-list'>Workers assigned to this task </h5>
            <p class="indications"><i >click to unassign</i></p>
            <div class="d-flex">
              <% @task.users.order('name asc').each do |user| %>
                    <% if user.avatar.attached? %>
                      <%= link_to task_assignment_path(@task, user_id: user.id), method: :delete,
                        data: { bs: { toggle: "tooltip", placement: "top", custom: { class: "custom-tooltip" } } },
                        title: user.name, type: "button" do %>
                          <%= image_tag user.avatar, class: "avatar m-0" %>
                      <% end %>
                    <% end %>
            <% end %>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="insider-container">
            <h5 class="ui header">Workers not assigned to this task</h5>
            <div class="search-bar">
              <div class="col-auto icon-col">
                <i class="fas fa-search element-icon" aria-hidden="true"></i>
              </div>
              <div class="col-11">
                <%= form_tag task_path(@task), method: :get do %>
                  <%= text_field_tag :query,
                    params[:query],
                    class: "form-control-project search-user",
                    placeholder: "Find" %>
                <% end %>
              </div>
            </div>
            <span>
            <div class="ui inline dropdown">
              <ul>
                <% @users_available.order('name asc').each do |user| %>
                  <% if user.avatar.attached? %>
                    <%= link_to task_assignments_path(@task, user_id: user.id), method: :post,
                      data: { bs: { toggle: "tooltip", placement: "top", custom: { class: "custom-tooltip" } } },
                      title: user.name, type: "button" do %>
                        <%= image_tag user.avatar, class: "avatar m-0" %>
                    <% end %>
                  <% end %>
                <% end %>
              </ul>
            </div>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="cards-container mt-3">
      <%= render 'active_text_form', task: @task %>
    </div>
  </div>
</div>
