<div class="container chatroom p-5" data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">
  <h1>#<%= @chatroom.name %></h1>

  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>
<%= simple_form_for [@chatroom, @message],
  remote: true,
  html: {data: {action: "ajax:success->chatroom-subscription#resetForm"}, class: "d-flex" }  do |f|
%>
    <%= f.input :content,
      label: false,
      placeholder: "Message ##{@chatroom.name}",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn btn-primary", style:"height:39px;" %>
  <% end %>
    <div class="chat-button">
      <%= link_to project_path(@chatroom.project), class: 'btn btn-ghost-pshow' do %>
        <i class="fa fa-history"></i> Back to project
      <% end %>
    </div>
</div>
