<div class="navbar navbar-expand-sm navbar-mp border-bottom border-light">
  <div class="container-fluid">
    <%= link_to "#", class: "navbar-brand mx-3" do %>
      <%= image_tag "pm-logo.png" %>
    <% end %>
    <div class="navbar-collapse">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "My Projects", projects_path, class: "nav-link" %>
          </li>
          <li class="nav-item active">
            <%= link_to "DASHBOARD", "#", class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
            <%= image_tag "default-avatar-icon.png", class: "avatar" %>
        <% else %>
          <li class="nav-item">
            <%= link_to "LOGIN", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "SIGNUP", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
