<div class="container py-5 bg-light opacity-75">
<div class="form-actions d-flex justify-content-center">
<h2>Sign up now!</h2>
</div>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
      </div>
      <br>
      <div class="form-actions d-flex justify-content-center">
        <%= submit_tag "Start now", class: 'btn btn-filled opacity-100' %>
      </div><hr>
      <div class="form-actions d-flex justify-content-center mt-3">
        <h5>Already have an account? <%= link_to "Login", new_user_session_path %> </h5>
        </div>
    <% end %>
</div>
