
<%# <div class="navbar">
  <img src="/logo.pgn", alt="Mission:Possible Logo"> %>
  <%# <%= link_to 'Dashboard', projects_path%>
  <%# <%= link_to 'My Projects', user_projects_path%>
  <%# <%=link_to 'Create new project', new_project_path %>
  <%# <%=link_to 'FAQ', faq_path %>
<%# </div> %>

<div class="lp-hero-banner">
  <div class="container lp-banner-content">
    <h1>Your Adventure Begins Here</h1>
    <p class="dark-grey-p">Why use complex tools when you can manage your projects in a natural and easy way</p>
    <button href="", class="lp-button">Learn More</button>
  </div>
</div>

<div class="about-section lp-container">
  <h2 class="on-page-section-title">About Mission:Possible</h2>
  <p class="dark-grey-p"> Sometimes, your teams don’t need complex management tools that require months of training to apprehend. Mission:Possible is designed for simple workflows inside your company. We got rid of unecessary features to deliver straightforward dashboards that are fast and easy to grasp.</p>
  <%# <%= link_to 'Start a new poject', user_login_path %>
</div>

<div class="row services">
  <div class="col-6 pm-value-proposition">
    <h3 class="on-page-section-title">Project Management</h3>
    <p class="dark-grey-p">Each company has projects that don't necessarily need to keep track of every single details. When tracking takes more time than get simple tasks done, it's usually a sign that you have room for optimization in your work flow.
    <br>Mission:Possible teaches you how to focus on the essential and reach your goals the fastest way possible</p><ul>
  </div>
  <div class="col-6 pm-advantages">
    <div class="advantages-card">
      <input type="radio" name="slider" id="item-1" checked>
      <input type="radio" name="slider" id="item-2">
      <input type="radio" name="slider" id="item-3">
      <input type="radio" name="slider" id="item-4">
      <div class="carousel-cards">
        <label class="carousel-card" for="item-1" id="song-1">
          <img src="https://i.pinimg.com/564x/b2/86/d6/b286d6b8d698cf50a177c3903f730196.jpg">
          <h4 class="pm-title-card">EFFICIENCY</h4>
        </label>
        <label class="carousel-card" for="item-2" id="song-2">
          <img src="https://i.pinimg.com/564x/f4/d0/cb/f4d0cbfd7af8531c465c8e3fc508e87a.jpg">
          <h4 class="pm-title-card">TIME MANAGEMENT</h4>
        </label>
        <label class="carousel-card" for="item-3" id="song-3">
          <img src="https://i.pinimg.com/564x/09/db/79/09db79142424708ca8425ee57d7f4dad.jpg">
          <h4 class="pm-title-card">OPTIMIZATION</h4>
        </label>
        <label class="carousel-card" for="item-4" id="song-4">
          <img src="https://i.pinimg.com/564x/41/e1/ae/41e1aed7bc0c793404d534cc1977e4ed.jpg">
          <h4 class="pm-title-card">AGILITY</h4>
        </label>

      </div>
    </div>

  </div>
</div>

<div class="lp-features">
  <div class="lp-features-intro lp-container">
    <h2 class="on-page-section-title">Features on Mission:Possible</h2>
    <p class="dark-grey-p">View our full value proposition below.
    <br> Click through to start your own adventure now!</p>
  </div>
  <div class="row feature-cards">
    <ul>
      <div class="row">
        <li class="col-3 sp-unique">
          <h4 class="">DASHBOARDS</h4>
          <img src="", alt="">
        </li>
        <li class="col-3 sp-unique">
          <h4 class="pm-title-card">TO DO LISTS</h4>
          <img src="", alt="", class="pm-image-card">
        </li>
        <li class="col-3 sp-unique">
          <h4 class="pm-title-card">TASK MANAGEMENT</h4>
          <img src="", alt="", class="pm-image-card">
        </li>
      </div>
      <div class="row">
        <li class="col-3 sp-unique">
            <h4 class="pm-title-card">TEAM CHAT</h4>
            <img src="", alt="", class="pm-image-card">
        </li>
        <li class="col-3 sp-unique ">
          <h4 class="pm-title-card">PERSONALIZED QUERIES</h4>
          <img src="", alt="", class="pm-image-card">
        </li>
      </div>
    </ul>
  </div>
</div>

<div class="mp-added-value">
  <div class="row">
    <div class="col-6">
      <img src="", alt="", class="benefits-illustration">
    </div>
     <div class="col-6">
      <h3 class="white-on-page-section-title">Benefits of using Mission:Possible</h3>
      <ul class="mp-benefits">
        <li>
          <i class="lp-check"></i>
          <p>Simplified workflow</p>
        </li>
        <li>
          <i class="lp-check"></i>
          <p>Transparency</p>
        </li>
        <li>
          <i class="lp-check"></i>
          <p>Clear communication</p>
        </li>
        <li>
          <i class="lp-check"></i>
          <p>Easy onboarding process for new members in your team</p>
        </li>
      </ul>
      <div class="btn">
        <%# <%= link-to "View Demo", demo_path %>
      </div>
    </div>
  </div>
</div>

<div class="partners">
  <div class="row ">
    <h2 class="on-page-section-title lp-container">Our partners</h2>
  </div>
  <div class="row logos">
    <%# Carousel %>
    <ul class="partners-carousel">
      <li class="partners-c-i"> <img src="", alt="", class="pm-image-card"></li>
      <li class="partners-c-i"> <img src="", alt="", class="pm-image-card"></li>
      <li class="partners-c-i"> <img src="", alt="", class="pm-image-card"></li>
      <li class="partners-c-i"> <img src="", alt="", class="pm-image-card"></li>
    </ul>
  </div>
  <div class="row arrow-navigation">
      <button class="lp-arrow-button"><i class="fas fa-angle-left"></i></button>
      <button class="lp-arrow-button"><i class="fas fa-angle-right"></i></button>
  </div>
</div>

<div class="roadmap lp-color-container">
  <div class="row roadmap-header lp-container">
    <h3 class="white-on-page-section-title">Roadmap</h3>
    <div class="roadmap-legend">
      <ul>
        <li>
          <i class="color-icon"></i>
          <p>Complete</p>
        </li>
        <li>
          <i class="color-icon"></i>
          <p>In Progress</p>
        </li>
        <li>
          <i class="color-icon"></i>
          <p>Incomplete</p>
        </li>
      </ul>
      </div>
    </div>
  </div>
  <div class="timeline lp-color-container">
    <div class="row phase">
      <div class="col-5 phase-text">
        <h4 class="phase-title">Phase 1<h4>
        <p class="phase-name">Create a project</p>
      </div>
      <div class="col-2 phase-text">
        <i class="big-color-icon"></i>
      </div>
      <div class="col-5 phase-description">
        <p>
        Mission:Possible allow you to create a new project with only the essential data your team needs to be creative and productive
        </p>
      </div>
    </div>
    <div class="row phase">
      <div class="col-5 phase-text">
        <h4 class="phase-title">Phase 2<h4>
        <p class="phase-name">Gather your team</p>
      </div>
      <div class="col-2 phase-text">
        <i class="big-color-icon"></i>
      </div>
      <div class="col-5 phase-description">
        <p>
        Assign the relevant members to each project and task to make sure you leverage everyone's best assets in the most efficient way possible.
        </p>
      </div>
    </div>
    <div class="row phase">
      <div class="col-5 phase-text">
        <h4 class="phase-title">Phase 3<h4>
        <p class="phase-name">Create Tasks</p>
      </div>
      <div class="col-2 phase-text">
        <i class="big-color-icon"></i>
      </div>
      <div class="col-5 phase-description">
        <p>
        Break your project into simple tasks and move forward in your projects through a painless process.
        </p>
      </div>
    </div>
    <div class="row phase">
      <div class="col-5 phase-text">
        <h4 class="phase-title">Phase 4<h4>
        <p class="phase-name">
        Get insights from your Dashboards
        </p>
      </div>
      <div class="col-2 phase-text">
        <i class="big-color-icon"></i>
      </div>
      <div class="col-5 phase-description">
        <p>
        We gather understandable data in simple dashboards to allow you to have a cleat idea of how you and your team.
        </p>
      </div>
    </div>
    <div class="row phase">
      <div class="col-5 phase-text">
        <h4 class="phase-title">Phase 5<h4>
        <p class="phase-name">
        Complete your projects
        </p>
      </div>
      <div class="col-2 phase-text">
        <i class="big-color-icon"></i>
      </div>
      <div class="col-5 phase-description">
        <p>
        Once all the tasks are completed, you and your team can enjoy the sense of accomplishment and start a new adventure with new projects. We give you an interface to go back on your past projects and give some feedbacks, get the key learnçing of your experience and keep on improving everyday as a team.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="faq">
  <div class="row on-page-section-title lp-conainter">
    <h3>Frequently Asked Questions</h3>
  </div>
  <div class="row faq-question">
    <h4>How to create a project?</h4>
    <i>+ icon</i>
    <p><p>
  </div>
  <div class="row faq-question">
    <h4>How much does the service cost?</h4>
    <i>+ icon</i>
    <p><p>
  </div>
  <div class="row faq-question">
    <h4>How many projects can I create simultaneously?</h4>
    <i>+ icon</i>
    <p><p>
  </div>
  <div class="row faq-question">
    <h4>How many tasks can a project have?</h4>
    <i>+ icon</i>
    <p><p>
  </div>
  <div class="row faq-question">
    <h4>Do you have integrations on the pkateforms for other softwares?</h4>
    <i>+ icon</i>
    <p><p>
  </div>
</div>

<div class="footer">
  <div class="row footer-header">
    <h3>Stay up to date</h3>>
    <p class="subheader"> Sign up for our newsletter to get priceless productivity tips<p>
  </div>
  <div class="row footer-media">
    <%# <%= form %>
    <%# <%= submit %>
    <%# <% end %>
  </div>
  <div class="row footer-social-media">
    <h6 class="align-center">Mission:Possible</h6>
    <i>Github</i>
    <i>Le Wagon</i>
    <i>Youtube le wagon</i>
  </div>
    <div class="authors">
    <p website built by Adriana Rosorio, Agathe Lurquin, Julia Sartori and Lucas Mendes on Ruby on Rails>
  </div>
</div>
