<div class="navbar">
  <img src="/logo.pgn", alt="Mission:Possible Logo">
  <%= link_to 'Dashboard', projects_path%>
  <%= link_to 'My Projects', user_projects_path%>
  <%=link_to 'Create new project', new_project_path %>
  <%=link_to 'FAQ', fas_path %>
</div>

<div class="hero-banner">
  <div class="banner-background">
    <img src="", alt="">
  </div>
  <div class="banner-content">
    <h1>Your Adventure Begins Here</h1>
    <p>Why use complex tools when you can manage your projects in a natural and easy way</p>
    <a href="">Learn More</a>
  </div>

<div class="about-section">
  <h2>About Mission:Possible</h2>
  <p> Sometimes, your teams don’t need complex management tools that require months of training to apprehend. Mission:Possible is designed for simple workflows inside your company. We got rid of unecessary features to deliver straightforward dashboards that are fast and easy to grasp.</p>
  <%= link_to 'Start a new poject', user_login_path %>
</div>

<div class="services-and-products">
  <ul>
    <li class="sp-unique">
      <h3></h3>
    </li>
  </ul>
  <li class="sp-unique">

  </li>
  <li class="sp-unique">
  </li>
  <li class="sp-unique">
  </li>
  <li class="sp-unique">
  </li>

</div>
