<div class="container py-5">
  <%= simple_form_for @project do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :status %>
      <%= f.input :price %>
      <%= f.input :due_date %>
      <%= f.file_field :file %>
      <%= f.submit %>
  <% end %>
</div>
