    <%= simple_form_for project do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :due_date %>
        <%= f.input :status, collection: Project::STATUS %>
        <%= f.file_field :files, multiple: true %>
        <div class="mt-3">
          <%= f.submit class: 'btn btn-primary' %>
        </div>
    <% end %>
    <br>
