<div class="cards-container-pview">
    <%= simple_form_for project do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :due_date %>
        <%= f.input :status, collection: Project::STATUS %>
        <%= f.file_field :files, multiple: true %>
        <div class="form-actions mt-3">
          <%= f.button_button t(".Submit"), class: "btn-filled-general" %>
        </div>
    <% end %>
    <br>
</div>
