<div class="cards-container-pview">
  <div class="row">
  <div class="col-8">
    <h1>Edit this project (entrei pelo edit)</h1>
  </div>
  <div class="col-4" style= "align-self: center;">
    <%= link_to project_path(@project), class: 'btn btn-ghost-pshow' do %>
        <i class="fa fa-history"></i> Back to project
      <% end %>
  </div>
  </div>
    <%= simple_form_for @project do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.input :price %>
        <%= f.input :due_date %>
        <%= f.input :status, collection: Project::STATUS %>
        <%= f.file_field :files, multiple: true %>
        <div class="side">
          <div class="form-actions mt-3">
            <%= f.button_button t(".Submit"), class: "btn-filled-general" %>
          </div>
        </div>
    <% end %>
</div>
