<hr>
<div class="p-5">
<div class="container mt-3">
  <h1 class="page-header"><%= @project.name %></h1>

  <div class="row align-items-center justify-content-around extra-margin">
    <div class="col-3">
        <p class="button-39">Due date: <%= @project.due_date %></p>
    </div>

    <div class="col-3">
        <p class="button-39">Status: <%= @project.status %></p>
    </div>

    <div class="col-3  d-flex justify-content-center">
      <%= link_to project_path(@project), class: 'btn btn-ghost-pshow', method: 'delete', data: { confirm: "Are you sure you want to delete?" }  do %>
        <i class="fas fa-trash-alt"></i> Delete this project
      <% end %>
    </div>

    <div class="col-3  d-flex justify-content-center">
      <%= link_to projects_path, class: 'btn btn-ghost-pshow' do %>
        <i class="fa fa-history"></i> Back to projects
      <% end %>
    </div>
  </div>

  <div class="cards-container-pview">

    <div class="row">
      <% if @progress_percent.nan? %>
        <p><%=@project.status%></p>
      <% else %>
        <% if @progress_percent == 0 %>
          <div class="progress p-0 pg-bar-style">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">0% completed ⚡️</div>
          </div>
          <% elsif @progress_percent == 100 %>
          <div class="progress p-0 pg-bar-style">
            <div class="progress-bar bg-success" role="progressbar" style="width: <%=@progress_percent.to_i%>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100% completed! &#127881</div>
          </div>
        <% else %>
          <div class="progress p-0 pg-bar-style">
            <div class="progress-bar bg-info" role="progressbar" style="width: <%=@progress_percent.to_i%>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%=@progress_percent.to_i%>% completed 🤓 </div>
          </div>
        <% end %>
      <%end%>
    </div><!--.row-->

    <div class= "row upper-margin justify-content-between extra-padding">
      <div class="col-5 ">
        <div class="row title-add-new extra-padding">
          <h3 class="col-auto">Project Details</h1>
          <div class="col-auto icon-col">
            <i class="fas fa-pencil-alt" data-bs-toggle="modal" data-bs-target="#form_project_edit"></i>
          </div>
        </div>

        <div class="cards-container">
          <p class="box-title">
          DESCRIPTION
          </p>
          <p>
            <%= @project.description %>
          </p>
        </div>

        <div class="cards-container">
          <p class="box-title">
          PRICE
          </p>
          <p>
            <%= @project.price %>
          </p>
        </div>

         <div class="cards-container"><p class="box-title">FILES</p>    <!--attached files-->
            <% if @project.files.attached? %>
              <% @project.files.each do |file| %>
                <% if file.image? %>
                    <%= image_tag(file, :width => "260px")%>
                    <%= link_to 'remove file', project_file_path(@project, file), method: 'delete'%>
                <% else %>
                  <div class="container">
                    <%= link_to file.filename, rails_blob_path(file, disposition: "attachement"), target: "_blank"%>
                    <%= link_to 'remove file', project_file_path(@project, file), method: 'delete'%>
                  </div>
                <% end %>
              <% end %>
            <% else %>
              <p> No files attached yet </p>
            <% end %>
          </div>
          <div>
            <%= link_to 'Chatroom', chatroom_path(@project.chatroom), class: "btn btn-filled", style: "width: 95%"%>
          </div>
      </div>

      <div class="col-6">
        <div class="row title-add-new">
          <h3 class="col-auto">Tasks</h1>
          <div class="col-auto icon-col">
            <i class="fas fa-plus-circle" data-bs-toggle="modal" data-bs-target="#form_task_new"></i>
          </div>
        </div>

        <div class="search-bar">
          <div class="col-auto icon-col">
            <i class="fas fa-search element-icon" aria-hidden="true"></i>
          </div>
          <div class="col-11">
            <%= form_tag project_path, method: :get, :class => 'input-group' do %>     <!--searchbar-->
            <%= text_field_tag :query,params[:query], class: "form-control-project" %>
            <% end %>
          </div>
        </div>
        <div class="cards-container extra-margin">
          <% if @project.tasks.count > 0 %>
            <ul class="list-group"> <!--task list-->
              <% @tasks.each do |task| %>
                <li>
                  <div class="project-card ">
                       <div class="project-card-infos">
                        <div>
                          <h2><%= task.name %></h2>
                          <p>(<%= task.status %>)</p>
                        </div>
                        <div class="project-actions project-card-actions ">
                            <% @task_update = task %>
                            <i class="fas fa-pencil-alt" data-bs-toggle="modal" data-bs-target="#form_task_update"></i>
                          <%= link_to task_path(task), class: 'p-icon', method: 'delete', data: { confirm: "Are you sure you want to delete?" }  do %>
                            <i class="far fa-trash-alt"></i>
                          <% end %>
                        </div>

                      </div>
                    <div class="project-card-infos">
                      <div class="d-flex">
                        <% task.users.each do |user| %>
                          <% if user.avatar.attached? %>
                            <%= link_to "#", data: { bs: { toggle: "tooltip", placement: "top", custom: { class: "custom-tooltip" } } },
                                title: user.name, type: "button" do %>
                                  <%= image_tag user.avatar, class: "avatar m-0" %>
                            <% end %>
                          <% end %>
                        <% end %>
                      </div>

                      <h2 class="project-card-pricing">Effort: <%= task.estimated_effort%> h</h2>

                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p>No tasks created yet</p>
          <% end %>
        </div>
      </div>
    </div><!--.row-->
  </div><!--.container-->
</div>


<div class="modal fade" id="form_project_edit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="padding:50px" data-controller="mask">
      <%= render "form", project: @project %>
    </div>
  </div>
</div>


<div class="modal fade" id="form_task_new" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="padding:50px" data-controller="mask">
      <%= render "tasks/task_form", task: @task %>
    </div>
  </div>
</div>

<div class="modal fade" id="form_task_update" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="padding:50px" data-controller="mask">
      <%= render "tasks/task_form", project: @project, task: @task_update %>
    </div>
  </div>
</div>

</div>
