<div class="container border bg-light mt-3">

  <h1 class="text-center"> Project: <%= @project.name %></h1>
  <div class="container">
    <p class="well">Description: <%= @project.description %></p>
    <p class="well">Due date: <%= @project.due_date %></p>
    <p class="well">Price: <%= @project.price %></p>
    <p class="well">Status: <%= @project.status %></p>
    <p class="well">Attachments:</p>
    <% if @project.files.attached? %>
        <% @project.files.each do |file| %>
          <% if file.image? %>
              <%= image_tag(file, :width => "260px")%>
          <% else %>
            <div class="container">
              <%= link_to file.filename, rails_blob_path(file, disposition: "attachement"), target: "_blank"%>
            </div>
          <% end %>
        <% end %>
    <% else %>
      <p> No files attached yet </p>
    <% end %>
    <br>
    <%= link_to 'Delete project', project_path(@project), method: 'delete'%>

  </div>
</div>
<div class="container border bg-light mt-3">
    <h3 class="text-center">Tasks</h3>
    <% @project.tasks.each do |task| %>
      <p><%= task.name %>
      <%= link_to 'See task details', task_path(task)%>
      <%= link_to 'Edit task', edit_project_task_path(@project, task)%>
      </p>

    <% end %>
</div>
<div class='container mt-3'>
  <%= link_to 'Edit this project', edit_project_path(@project) %>
  <%= link_to 'Add a task to this project', new_project_task_path(@project) %>
