<div class="container border bg-light mt-3">

  <h1> Project: <%= @project.name %></h1>
  <div class="container">
    <p class="well">Description: <%= @project.description %></p>
    <p class="well">Due date: <%= @project.due_date %></p>
    <p class="well">Price: <%= @project.price %></p>
    <p class="well">Status: <%= @project.status %></p>
    <br>

    <%= link_to edit_project_path(@project), class: 'pull-right btn btn-default' do %>
      <i class="fas fa-edit"></i> Edit this project
    <% end %>

    <%= link_to new_project_task_path(@project), class: 'pull-right btn btn-default' do %>
      <i class="fas fa-plus"></i> Add a task
    <% end %>

    <%= link_to project_path(@project), class: 'pull-right btn btn-default', method: 'delete', data: { confirm: "Are you?" }  do %>
      <i class="fas fa-trash-alt"></i> Delete this project
    <% end %>

    <%= link_to projects_path, class: 'pull-right btn btn-default' do %>
      <i class="fa fa-history"></i> Back to list
    <% end %>

  </div>
</div>
<div class="container border bg-light mt-3">
  <%= form_tag project_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a task"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
</div>
<div class="container border bg-light mt-3">
  <h3>Tasks</h3>
  <% @tasks.each do |task| %>
    <p><%= link_to task.name, task_path(task)%></p>
  <% end %>
</div>
